*, *::before, *::after { /*https://www.w3schools.com/cssref/sel_before.asp*/
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, rgb(24, 24, 24), rgb(212, 212, 212))
}

#calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;  
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    /* border: 1px solid white; */
    border: none;
    outline: none;
    background-color: rgb(197, 197, 197);
}

#calculator-grid > button:hover {
    background-color: rgb(238, 238, 238);
    transition: background-color 1s; /*https://stackoverflow.com/questions/23458362/how-to-delay-background-color-transition-using-css*/
}

.two-spaces {
    grid-column: span 2;
}

.two-span {
    grid-column: span 2;
}

#calculator-grid > #output {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, .60);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#output #previous-calculator {
    color: rgba(255, 255, 255, .75); /*The ".75" is opacity*/
    font-size: 1rem;
}

#output #current-calculator {
    color: white;
    font-size: 2.5rem;
}






